.profile__avatar-edit {
    width: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.8) url(../../../images/pencil.svg) no-repeat center;
    position: absolute;
    opacity: 0;
    transition: opacity .15s linear;
    left: 0;
    top: 0;
}

.profile__avatar-edit:hover {
    opacity: 1;
}