.profile__edit-button {
  width: 22px;
  height: 22px;
  border: 1px solid #FFFFFF;
  background: transparent;
  background-image: url(../../../images/Edit_Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: end;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
