.profile__add-button {
  width: 150px;
  height: 50px;
  background: url(../../../images/Plus.svg) no-repeat center;
  border: 2px solid white;
  transition: opacity 0.15s linear;
  cursor: pointer;
  border-radius: 2px;
  padding: 0;
  margin: 35px 0 0 auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .profile__add-button {
      width: 282px;
      background-size: 16px;
      margin: 4px 19px 0 19px;
  }
}

