.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 50px;
  grid-gap: 17px;
}

@media screen and (max-width: 992px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 19px;
  }
}

@media screen and (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
    padding-left: 19px;
  }
}
